<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: rgb(84, 29, 236);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 1960px;
    flex-direction: column;
    align-items: center;
  }
  .card svg.material-icons path {
    fill: rgb(230, 7, 7);
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 160px;
  }

  .card {
    border-radius: 20px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 500px;
    width: 400px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 240px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 160px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container>*:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 250px;
      margin: 20px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">

  <p style="font-weight:bold" class="title">Rock, Scissors, Paper-Game</p>
  <div class="spacer"></div>
  <p class="credits">thx for visiting ;)</p>
</div>

<div class="content" role="main">

  <!-- Resources -->
  <p style="font-weight:bold">Play against random Players or the ultimate, unbeaten Super-BOT</p>

  <div class="score-board">
    <div id="user-label" class="badge">user: {{userSelected}}</div>
    <div id="computer-label" class="badge">BOT:{{compSelected}}</div>
    <span id="user-score">{{userScore}}</span>:<span id="computer-score">{{compScore}}</span>
  </div>

  <h1 *ngIf="!status">You Can Make Your Move</h1>
  <h1 *ngIf="status"> {{userSelected}} {{action}} {{compSelected}} {{status}}</h1>
  <div class="result">
  </div>

  <div class="card-container" >
    <button class="card scissors" (click)='userPick("scissors")'>
      <span style="font-weight:bold" class="text">Scissors</span>
    </button>

    <button class="card rock" (click)='userPick("rock")'>
      <span style="font-weight:bold" class="text"> Rock </span>
    </button>

    <button class="card paper" (click)='userPick("paper")'>
      <span style="font-weight:bold" class="text">Paper</span>
    </button>

  </div>

  <body>
  </body>